*.~*
*.dcu
*.obj
*.tds
*.bak
*.exe
*.dll
*.map
*.dsk
*.local
*.identcache
*.stat
*.tvsconfig

__history/
__recovery/
Win32/
Win64/
x64/
Android/
iOSDevice/
iOSSimulator/
Linux64/
OSX32/
OSX64/

.idea/
.vscode/
